/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

/*FONTS*/ 

/*font-family: le-monde-livre-classic-byol, serif;
font-weight: 500;
font-style: normal;*/

/*font-family: urw-din, sans-serif;
font-weight: 700;
font-style: normal;*/




/*END FONTS*/


* {
   box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
   width: 100%;
}

video {
   width: 100%;
}

.header {
   width: 100%;
   height: 100vh;
   position: relative;
}

.header-element {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
   object-fit: cover;
}
   .header-element img {
      height: 100vh;
      object-fit: cover;
   }

 #bg-header {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: -1;
 } 

  #title-header {
   animation-name: fadeInTitle; 
   animation-duration: 2s; 
   animation-fill-mode: forwards; 
   animation-iteration-count: 1;

   object-fit: contain;
   width: 100%;

 }

 .title-header-container {
   position: relative;
   top: 125px;
   max-width: 900px;
   margin: auto;
 }

   #title-header img{
      height: auto;
      object-fit: contain;
   }
 

 #scroll-trigger {
   position: absolute;
   top: 50vh;
   left: 0px;
   width: 100%;
 }



 @keyframes fadeInTitle {
   0% {transform: scale(0.5); opacity: 0;}
   20% {transform: scale(0.5); opacity: 0;}
   100% {transform: scale(1); opacity: 1;}
 }

/* @keyframes fadeInSoldiers {
   0% {opacity: 0;}
   50% {opacity: 0;}
   100% {opacity: 1;}
 }*/
   

.header-img {
}   

@keyframes headerFadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes headerFadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.button-absolute {
   position: absolute;
   top: 330px;
   width: 100%;
}   

.button-container {
   max-width: 850px;
   margin: auto;
}   

.buttons {
   font-family: urw-din, sans-serif;
   font-weight: 700;
   font-style: normal;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   color: #120f41;

} 

   .buttons a {
      color: #120f41;
      text-decoration: none;
   }

   .buttons a:visited {
      color: #120f41;
      text-decoration: none;
   }

.section-button {
   border: 1px solid #120f41;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 2px;
   opacity: 0;
   cursor: pointer;
   margin: 5px;

} 

.menu-popout {
   position: relative;
   background-color: rgba(255, 255, 255, 0.7);
   height: 100vh;
   padding: 20px;
   display: none;
}

.menu-sections {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 20px;
   margin-top: 10vh;
}

.menu-exit {
   width: 26px;
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
}

.menu-sections a {
   color: #120f41;
   text-decoration: none;
}

.menu-sections a:visited {
   color: #120f41;
   text-decoration: none;
}

.menu-button {
   border: 1px solid #120f41;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 2px;
   cursor: pointer;
   font-family: urw-din, sans-serif;
   font-weight: 700;
   font-style: normal;
   align-items: center;
   color: #120f41;
   width: auto;
} 

.menu-button:hover {
   transform: scale(1.1);
   box-shadow: 0px 0px 3px rgb(123, 17, 60);
}


#about-section { animation-name: fadeInOne; animation-duration: 2.5s; animation-fill-mode: forwards; animation-iteration-count: 1;}

#who-section { animation-name: fadeInTwo; animation-duration: 2.75s; animation-fill-mode: forwards; animation-iteration-count: 1;}

#timeline-section { animation-name: fadeInThree; animation-duration: 3s; animation-fill-mode: forwards; animation-iteration-count: 1;}

/*#characters-section { animation-name: fadeInFour; animation-duration: 3.25s; animation-fill-mode: forwards; animation-iteration-count: 1;}*/

#camps-section { animation-name: fadeInFive; animation-duration: 3.25s; animation-fill-mode: forwards; animation-iteration-count: 1;}

#david-section { animation-name: fadeInSix; animation-duration: 4s; animation-fill-mode: forwards; animation-iteration-count: 1;}



@keyframes fadeInOne {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}

@keyframes fadeInTwo {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}

@keyframes fadeInThree {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}

/*@keyframes fadeInFour {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}*/

@keyframes fadeInFive {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}

@keyframes fadeInSix {
   0% { opacity: 0; }
   70% { opacity: 0; }
   100% { opacity: 1; }
}



#content {
   padding-top: 70px;
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 90%, rgba(255,255,255,0) 100%);
   position: relative;
   z-index: 1;
}

.menu {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 800;
   display: none;
}

.hamburger {
   width: 40px;
   margin-top: 10px;
   margin-left: 10px;
   cursor: pointer;
}

.section {
   width: 100%;
   margin-top: 100px;
   
}



.section-header {
   font-family: le-monde-livre-classic-byol, serif;
   font-weight: 500;
   font-style: normal;
   font-size: 3em;
   width: 100%;
   text-align: center;
   color: #120f41;
}

.section-text {
   max-width: 750px;
   padding: 0px 10px;
   margin: auto;
   font-family: urw-din, sans-serif;
   font-weight: 500;
   font-style: normal;
   font-size: 18px;

}

.click-here-button {
   background-color: #120f41;
   padding: 10px;
   font-family: le-monde-livre-classic-byol, serif;
   color: white;
   text-align: center;
   width: 100%;
   font-size: 18px;
   margin: auto;
   text-decoration: none;


}

   .click-here-button a {
      color: white;
   }

   .click-here-button a:visited {
      color: white;
   }

.section-directions {
   text-align: center;
}

.section-video {
   max-width: 850px;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
}

   .video-title {
      font-family: le-monde-livre-classic-byol, serif;
      font-weight: 500;
      font-style: normal;
      font-size: 2em;
      width: 100%;
      text-align: center;
   }

   .iframecontainer {
      width: 100%;
      height: 0px;
      padding-top: 56%;
      position: relative;
   }

   .iframecontainer iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
   }


.photos-grid, .char-grid {
   display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
}   

.photo {
   width: 100%;
   position: relative;
   cursor: pointer;
}

.photo:hover {
   animation: scale 1s;
   animation-fill-mode: 
   forwards; animation-iteration-count: 0.5s;
}

@keyframes scale {
   0% {transform: scale(1);}
   100% {transform: scale(1.1);}
}

   .img-caption {
      position: absolute;
      display: flex;
      bottom: 0px;
      width: 100%;
      height: 30%;
      background-color: rgba(255, 255, 255, 0.6);
      text-align: center;
      padding: 5px;
      font-family: le-monde-livre-classic-byol, serif;
      font-weight: 500;
      font-style: normal;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      color: #120f41;
      line-height: 20px;
      /*display: none;*/

   }

/*POPUP STYLING*/

.popup-container {
   width: 100%;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.7);
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 2;
   display: none;
   overflow: scroll;

}

.popup-content {
   position: relative;
   width: 100%;
}

.popup-info {
   position: relative;
   top: 20vh;
   max-width: 800px;
   margin: auto;
   background-color: white;
   box-shadow: 0px 0px 5px black;
   display: flex;
   align-items: center;
   padding: 20px;


}

.exit {
   position: absolute;
   top: 5px;
   right: 5px;
   width: 50px;
   cursor: pointer;
}

.popup-photo {
   width: 40%;
}

.popup-desc {
   width: 60%;
   padding: 10px;
   font-family: urw-din, sans-serif;
   font-size: 17px;

}

.popup-desc h2 {
   font-family: le-monde-livre-classic-byol, serif;
   font-weight: 500;
   font-style: normal;
   font-size: 30px;
   margin: 5px 0px;
}

.popup-desc h3 {
   margin: 5px 0px;
}

.popup-desc a {
   color: #120f41;
}

.popup-desc a:visited {
   color: #120f41;
}

.timeline-container {
   height: 800px;
   width: 100%;
   position: relative;
   background-color: white;
}

#map {
   height: 800px;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0.6;
}


.back, .next {
   width: 70px;
   position: absolute;
   top: 300px;
   z-index: 750;
   cursor: pointer;
}

.back {
   left: 5px;
   display: none;
}

.next {
   right: 5px;
}

.timeline-content{
   position: absolute;
   top: 0vh;
   left: 10%;
   width: 80%;
   z-index: 700;

   
}

.segment0{
   position: absolute;
   top: 30vh;
   left: 0%;
   width: 100%;
   text-align: center;
}

.segment-title {
   color: #120f41;
   font-family: le-monde-livre-classic-byol, serif;
   font-weight: 500;
   font-style: normal;
   font-size: 2em;
   color: #120f41;
   line-height: 1.5em;
}




.title0 {
   text-align: center;
}

.segment-content {
   display: flex;
   flex-direction: row-reverse;
   max-width: 600px;
}

.segment-photo {
   width: 0%;
   margin: auto;
   padding-right: 10px;
   display: none;
}

.segment-desc {
   font-family: urw-din, sans-serif;
   font-weight: 500;
   font-style: normal;
   width: 100%;
/*   margin: auto;*/
   background-color: rgba(255, 255, 255, 0.6);
   padding: 10px;
   font-size: 18px;
   /*box-shadow: 0px 0px 5px grey;*/
}

.map-of-camps {
   max-width: 1020px;
   margin: auto;
}

.david-photo {
   width: 50%;
   margin: auto;
   float: left;
   padding-right: 10px;
}

.footer {
   font-family: urw-din, sans-serif;
   font-weight: 500;
   font-style: normal;
   text-align: center;
   width: 80%;
   margin: auto;
   margin-top: 100px;
   padding: 20px 0px;
   font-size: 15px;
}

.scrolltitle {
   font-family: le-monde-livre-classic-byol, serif;
   font-weight: 700;
   font-style: normal;
   font-size: 18px;
}



@media only screen and (max-width: 1000px) {

   .img-caption {
      font-size: 20px;
      line-height: 18px;
   }

   .timeline-content {
      top: 0vh;
   }

   .segment0 {
      top: 20vh;
   }

   .segment-title h2 {
      margin: 20px 0px;
   }

/*   .timeline-container {
      height: 110vh;
   }

   #map {
      height: 110vh; 
   }*/

}


@media only screen and (max-width: 800px) {

   .button-absolute {
      top: 305px;
   }

   .img-caption {
      height: 32%;
   }

   .popup-info {
      margin: 0px 10px;
   }

   

   .back, .next {
      width: 50px;
   }

}



@media only screen and (max-width: 650px) {

   .hamburger {
      width: 30px;
   }

   .button-absolute {
      top: 275px;
   }

   .section-header {
      font-size: 2.5em;
   }

   .photos-grid {
      grid-template-columns: 1fr 1fr;
   }

   .popup-info {
      display: block;
      top: 60px;

   }

   .popup-photo {
      width: 60%;
      margin: auto;
   }

   .popup-desc {
      width: 100%;
   }

   .img-caption {
      font-size: 25px;
      line-height: 20px;
      height: 25%;

   }

   .segment-title {
      font-size: 1.5em;
      line-height: 1.5em;
   }

   .timeline-container {
      height: 850px;
   }

   #map {
      height: 850px; 
   }



}

@media only screen and (max-width: 520px) {

   .timeline-container {
      height: 950px;
   }

   #map {
      height: 950px; 
   }

   .back, .next {
      width: 40px;
   }


}

@media only screen and (max-width: 450px) {

   .button-absolute {
      top: 230px;
   }

   .timeline-container {
      height: 1000px;
   }

   #map {
      height: 1000px; 
   }

   .back, .next {
      width: 30px;
   }



}

@media only screen and (max-width: 375px) {

   .button-absolute {
      top: 215px;
   }

}




